html, body, div, p, ul, li, a, h1, h2, h3, table, form, input {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font: 1em Tahoma, Geneva, sans-serif;
  line-height: 1.3em;
  color: #333;
  background: #E6E6E6 url('/radialgradient.png');
  background-attachment: fixed;
}
textarea {
  font: 1em Tahoma, Geneva, sans-serif;
  line-height: 1.3em;
  color: #333;
  -webkit-appearance: textarea;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  -webkit-box-orient: vertical;
  resize: none;
  cursor: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}
h1 {
  font: bold 2.5em/1.2em "Arial Black", sans-serif;
  text-shadow: 0px 2px 3px #555;
}
#wrap {
  margin: 50px auto;
  position: relative;
  width: 100%;
  min-width: 880px;
}
#scoreboard {
  width: 190px;
  position: fixed;
  left: 20px;
}
  #scoreboard li {
    font-size: 1.1em;
    display: none;
    margin-bottom: 20px;
    position: relative;
    text-align: right;
  }
    #scoreboard li h2 {
      float: right;
      text-align: left;  
      width: 70px;
      font: bold 2em/1em "Arial Black", sans-serif;
      text-shadow: 0px 2px 3px #555;
    }
    #scoreboard li h3 {
      clear: both;
      font-weight: bold;
      font-size: 0.9em;
      text-shadow: 0px 1px 1px #999;
    }
    #p0 h3 {color: #1f77b4}
    #p1 h3 {color: #ff7f0e}
    #p2 h3 {color: #2ca02c}
    #p3 h3 {color: #d62728}
    #p4 h3 {color: #9467bd}
    #p5 h3 {color: #e377c2}
    #p6 h3 {color: #bcbd22}
    #p7 h3 {color: #17becf}
    
.puzzled {
  display: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  background: #152525;
  font-size: 0.7em;
  line-height: 1em;
  padding: 4px;
  color: #EEE;
  position: absolute;
  top: 7px;
  right: 0px;
}
#chat {
  margin-left: 570px;
  margin-right: 25px;
  margin-bottom: 110px;
}
  #chat li {
    
  }
    #chat li .name {
      padding-top: 10px;
      float: left;
      font-weight: bold;
      font-size: 0.8em;
    }
    #chat li .message {
      margin-left: 65px;
      padding: 10px;
      background: #fff;
      margin-bottom: 5px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    }
    #chat li .cornered {
      -moz-border-radius: 0 0 10px 0;
      -webkit-border-radius: 0 0 10px 0;
      border-radius: 0 0 10px 0;
    }
    #chat li .event {
      font-style:italic;
    }
#footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 60px;
  box-shadow: 0 -4px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -4px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 -4px 0 0 rgba(0, 0, 0, 0.1);
  background: #E6E6E6;
}
  #footer form {
    min-width: 220px;
    margin-left: 635px;
    margin-right: 25px;
  }
    #footer form #input {
      height: 55px;
      width: 100%;
      border: 0;
      overflow: auto;
      vertical-align: baseline;
      outline: 0;
      padding: 10px;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;
    }
    #footer form label {
      font-weight: bold;
      font-size: 0.8em;
      float: left;
      width: 150px;
      margin-left: -170px;
      text-align: right;
    }
#board {
  width: 330px;
  position: fixed;
  left: 230px;
  margin-top: -4px;
}
  #board td {
    width: 110px;
    height: 70px;
    position: relative;
    top: 0;
  }
.cardwrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.card {
  border: 2px solid #333;
  position: absolute;
  top: 2px;
  left: 2px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.clear { clear: both }
.red {
  border: 2px solid red !important
}
.hint {
  background: #BDF271
}
#me-indicator {
  font-size: 0.8em;
  width: 20px;
  margin-left: -20px;
  display: block;
  float: left;
}
#hint {
  display: none;
  float: right;
}
.button {
  width: 110px;
  display: block;
  margin-right: 5px;
  color: #EEE;
  background: #152525;
  font-size: 0.8em;
  line-height: 1.2em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  text-decoration: none;
  border: 2px solid #152525;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.button:hover {
  border-color: #220500;
  background: #150400;
}
.button span {
  display: block;
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #f6f4f4;
}