html, body, div, p, ul, li, a, h1, h2, h3, table, form, input, pre {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font: 1em Tahoma, Geneva, sans-serif;
  line-height: 1.3em;
  color: #333;
  background: #E6E6E6 url('/gradient.jpg');
  *background: #E6E6E6 url('http://multiplayerset.com/gradient.jpg');
  background-attachment: fixed;
}
p {
  padding: 5px;
}
a, a:visited, a:link, a:hover {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  font-weight: bold;
}
a:hover {
  border-bottom: 1px dotted #333;
}
textarea {
  font: 1em Tahoma, Geneva, sans-serif;
  line-height: 1.3em;
  color: #333;
  -webkit-appearance: textarea;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  -webkit-box-orient: vertical;
  resize: none;
  cursor: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}
h1 {
  font: bold 2.3em/1.2em "Arial Black", sans-serif;
  text-shadow: 0px 2px 3px #555;
}
#wrap {
  margin: 50px auto;
  position: relative;
  width: 100%;
  min-width: 900px;
}
#scoreboard {
  width: 190px;
  position: fixed;
  left: 20px;
}
  #scoreboard li {
    font-size: 1.1em;
    display: none;
    margin-bottom: 20px;
    position: relative;
    text-align: right;
  }
    #scoreboard li h2 {
      float: right;
      text-align: left;  
      width: 70px;
      font: bold 2em/1em "Arial Black", sans-serif;
      text-shadow: 0px 2px 3px #555;
    }
    #scoreboard li h3 {
      clear: both;
      font-weight: bold;
      font-size: 0.9em;
      text-shadow: 0px 1px 1px #999;
    }
    #p0 h3 {color: #1f77b4}
    #p1 h3 {color: #ff7f0e}
    #p2 h3 {color: #2ca02c}
    #p3 h3 {color: #d62728}
    #p4 h3 {color: #9467bd}
    #p5 h3 {color: #e377c2}
    #p6 h3 {color: #bcbd22}
    #p7 h3 {color: #17becf}
    
.puzzled {
  display: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  background: #152525;
  font-size: 0.7em;
  line-height: 1em;
  padding: 4px;
  color: #EEE;
  position: absolute;
  top: 7px;
  right: 0px;
}
.offline {
  display: none;
  font-size: 2em;
  font-weight: bold;
  color: #FFF;
  background: #333;
  position: absolute;
  text-align: left;
  padding: 15px 0px 0px 20px;
  top: 0px;
  left: 0px;
  width: 170px;
  height: 40px;;
  -moz-opacity: .70;
  filter:alpha(opacity=70);
  opacity: .70;
  z-index: 20;
}
#chat {
  margin-left: 635px;
  margin-right: 25px;
  margin-bottom: 110px;
}
.name {
  padding-top: 6px;
  float: left;
  font-weight: bold;
  font-size: 0.8em;
}
.player-message {
  margin-left: 65px;
}
.message {
  padding: 5px 10px;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.cornered {
  margin-bottom: 5px;
  -moz-border-radius: 0 0 10px 0;
  -webkit-border-radius: 0 0 10px 0;
  border-radius: 0 0 10px 0;
}
.event {
  text-align: right;
  font-style: italic;
}
#training {
  display:none;
}
#footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 60px;
  box-shadow: 0 -4px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -4px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 -4px 0 0 rgba(0, 0, 0, 0.1);
  background: #E6E6E6;
}
  #footer form {
    min-width: 220px;
    margin-left: 635px;
    margin-right: 25px;
  }
    #footer form #input {
      height: 55px;
      width: 100%;
      border: 0;
      overflow: auto;
      vertical-align: baseline;
      outline: 0;
      padding: 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    #footer form label {
      font-weight: bold;
      font-size: 0.8em;
      float: left;
      width: 150px;
      margin-left: -170px;
      text-align: right;
    }
#boardwrap {
  width: 400px;
  position: fixed;
  left: 230px;
  margin-top: -4px;
}
#board {
  margin-bottom: 10px;
  min-width: 300px;
}
  #board td {
    width: 130px;
    height: 78px;
    position: relative;
    top: 0;
  }
.cardwrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.card {
  border: 2px solid #333;
  background: #fff;
  width: 120px;
  height: 70px;
  position: absolute;
  text-align: center;
  top: 2px;
  left: 2px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 2px 2px 3x rgba(0, 0, 0, 0.15);
  
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.shapeWrap {
  margin: 10px auto 0 auto;
}
.shape {
  width: 33px;
  height: 55px;
  margin-right: 5px;
  display: inline-block;
  background: url('/cards.png') no-repeat;
  *background: url('http://multiplayerset.com/cards.png') no-repeat;
}
.clear { clear: both }
.selected {
  border: 2px solid red !important
}
.hint {
  background: #BDF271
}
#timer {
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 0px 2px 3px #555;
}
#me-indicator {
  font-size: 0.8em;
  width: 20px;
  margin-left: -20px;
  display: block;
  float: left;
}
#hint {
  display: none;
  cursor: pointer;
}
#share {
  display: none;
}
#share input {
  width: 100%;
  font-family: 'Courier', monospace
}
li a { width: 100%; height: 100%; display:block }
li a:hover { background: #eee }
.centered { margin: 0 auto; }